@import 'variables';
//main fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300&display=swap');

// nav fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300&display=swap');


html {
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}


//NAVIGATION BAR STYLING
.navbar {
    display: flex;
    flex-flow: row;

    color: $red;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgb(234, 234, 234);


    .navbar-logo {
        margin-left: 40px;
        margin-right:20px;
        image-rendering: crisp-edges;
        
    }

    .navbar-links {
        margin: 0.5rem;
        margin-right: 20px;
    }
    
    .navbar-link {
        margin: 0.2rem;
        text-decoration: none;

        &:visited{
            color: $red;
        }

        &:hover{
            color: $lightBlue;
        }
    }
}

.navbar > h1 {
    font-size: 2rem;
    align-self: center;
}

.landing-display{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.landing-img-div {
    margin-bottom: 20px;
}

.landing-img {
    border-radius: 2%;
}

.landing-btn {
    width: 200px;
    height: 30px;
    font-size: 1rem;
    border: 0.1rem solid $red;
    border-radius: 0.3rem;
    background-color: white;
    color: $red;

    &:hover{
        background-color: $red;
        color: white;
    }
}

// LOGIN AND SIGNUP FORM STYLING

// LOGIN
.login-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5rem;
}

.login-display {
    border-radius: 2rem;
    height: 500px;
    width: 20rem;
}

.login-form {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(200, 199, 199);
    height: 400px;
    padding-top: 15px;

}

.login-form > h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-inputs {
    margin-top: 5px;
    margin-bottom: 5px;
}


//SIGNUP FORM
.signup-form {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(200, 199, 199);
    height: 400px;
    padding-top: 15px;

}

.signup-form > h1 {
    padding-bottom: 20px;
}

.signup-inputs {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-input-btn {
    // display: flex;
    // justify-content: center;
    align-self: center;
    margin-top: 40px;

}


.login-form-btn{
    width: 70px;
    height: 25px;
    border: 0.1rem solid $red;
    border-radius: 0.3rem;
    background-color: white;
    color: $red;

    &:hover{
        background-color: $red;
        color: white;
    }
}

.signup-form-btn{
    width: 70px;
    height: 25px;
    border: 0.1rem solid $red;
    border-radius: 0.3rem;
    background-color: white;
    color: $red;

    &:hover{
        background-color: $red;
        color: white;
    }
}


.form-input-btn p{
    color: $red;
}


.journey-container {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;

}

.journey-display {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.journey-png {
    max-width: 100%;
    max-height: 100%;
}

//SEARCH DISPLAY
.searchTest {
    // position: relative;
    // top: -70;
    background-color: white;
    // width: 500px;
}
.search-posts{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(200, 199, 199);
    padding-top: 5px;
    padding-bottom: 15px;
}
.search-inputs {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}



.search-inputs > input {
    margin-top: 2px;
}

.search-select {
    margin-top: 18px;
    align-self: center;
}

.search-submit {
    margin-top: 18px;
    margin-left: 18px;
}


input {
    font-family: Montserrat;
}

input#driver.search-input {
    margin-top: 5px;
}
select {
    font-family: Montserrat;
}

.search-btn {
    font-family: Montserrat;
}


//rendered journeys
.journey-component {
    display: flex;
    flex-flow: row;
    align-items: center;
    border: 1px solid rgb(200, 199, 199);
    margin-top: 20px;
    margin-bottom: 20px;
}

.journey-post {
    display: flex;
    justify-content: center;
}

.journey-logo {
    margin-left: 30px;
    margin-right: 30px;
}
.mainFrame {

    margin-top: 20px;
    margin-bottom: 20px;
    width: 30rem;
}


.topPart {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.journey-trait-label {
    font-style: italic;
    font-weight: 400;
}

.bottomPart{
    display: flex;
    flex-flow: row;
    // justify-content: space-around;
 .journey-label{
     margin-left: 18px;
     margin-right: 18px;
 }   
}

.join-btn {
    margin-left: 10px;
    margin-right: 10px;
}

.deleteButton {
    width: 70px;
    height: 25px;
    border: 0.1rem solid $red;
    border-radius: 0.3rem;
    background-color: white;
    color: $red;

    &:hover{
        background-color: $red;
        color: white;
    }
}

.joinButton {
    width: 70px;
    height: 25px;
    border: 0.1rem solid $red;
    border-radius: 0.3rem;
    background-color: white;
    color: $red;

    &:hover{
        background-color: $red;
        color: white;
    }
}


//PROFILE 
.profile{
    display: flex;
    flex-flow: column;
    margin: 40;
}

.profile-header {
    color: $gray
}

.list-h2 {
    color: $gray;
    border-bottom: 1px solid rgb(200, 199, 199);
    line-height: 5px;
    margin-bottom: 10px;
}

.userJourney {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(200, 199, 199);
    margin: 20 0 20 0;
}

//FOOTER
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    align-self: center;
}
